h2 {
    margin-top: 0;
  }
  
  button {
    background: none;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #e2e6ea;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  td {
    vertical-align: middle;
  }
  
  td.actions {
    display: flex;
    gap: 5px;
  }
  
  td.actions button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  td.actions button:hover {
    background-color: #ddd;
  }
  
  .online {
    color: green;
  }
  
  .offline {
    color: red;
  }

  /*  */
  
  .dropdown-container {
    position: relative;
    display: inline-block;
  }
  
  .description-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
  }
  
  .dropdown-content {
    display: block;
    position: absolute;
    top: 40px; /* Adjust based on your needs */
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 9;
    width: 300px; /* Adjust width based on your content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  